*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', 'sans-serif';
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: beige;
    background-image: url('../images/assets/unsplash_tree.jpg');
    background-size: cover;
    background-position: center;
}

.articles{
    max-width: 600px;
    margin: auto;
    background-color: rgb(57, 87, 26);
    padding: 15px;
    border-radius: 30px;
}

.articles + .articles {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.circular-def h1{
    font-size: large;
}

li a {
    color: white;
    font-size: 1rem;
}

li a:hover {
    color:blue;
}

/* Header */
header{
    position: relative;
    padding: 0 2rem ;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: beige;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    background-color: rgb(239, 144, 19);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar .action_btn {
    color: beige;
    background-color: rgb(239, 144, 19);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar .toggle_btn {
    color: beige;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn:hover{
    scale: 1.05;
    color: beige;
}

.action_btn:active{
scale:0.95;
}

/*Dropdown*/

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top:60px;
    width: 300px;
    background:rgb(239, 144, 19);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    color: beige;
    display: flex;
    justify-content: center;
}

/*Responsive*/

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
    .dropdown_menu .action_btn{
        display: block;
    }
}

.banner{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.banner-content{
    text-align: center;
}

.banner h1 {
  font-size: 150px;
  font-weight: 200;
  font-weight: 500;
  text-align: center;
  color: beige;
  padding: 5px;
  border-radius: 20px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.banner p {
  text-align: center;
  color: beige;
  padding: 5px;
  border-radius: 20px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: rgb(239, 144, 19);
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.footer p {
  font-size: 14px;
  color: beige;
  margin: 0;
}

/* Form Style for the register */

.register-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: beige;
    }

    .register-form-container {
        max-width: 400px;
        padding: 2rem;
        background-color: rgb(57, 87, 26);
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .register-header {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
        color: beige;
    }

    .register-form {
        margin-bottom: 1rem;
    }

    .form-name,
    .form-lastname,
    .form-email,
    .form-password {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: beige;
    }

    .input-name,
    .input-lastname,
    .input-email,
    .input-password {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #cccccc;
        color: black;
        border-radius: 0.25rem;
    }

/* Form Style for the projects */

  .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: beige;
    }

    .project-form-container {
        max-width: 400px;
        padding: 2rem;
        background-color: rgb(57, 87, 26);
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .project-header {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
        color: beige;
    }

    .project-form {
        margin-bottom: 1rem;
    }

    .form-name,
    .form-company,
    .form-short_description {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: beige;
    }

    .input-name,
    .input-company,
    .input-description {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #cccccc;
        color: black;
        border-radius: 0.25rem;
    }

    .text-red-500 {
        color: #f44336;
    }

    .text-xs {
        font-size: 0.75rem;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .bg-orange-200 {
        background-color: #ffcc80;
    }

    .text-gray-900 {
        color: #212121;
    }

    .rounded {
        border-radius: 0.25rem;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .p-1 {
        padding: 0.25rem;
    }

    .hover:bg-orange-300:hover {
        background-color: #ffe0b2;
    }
    /* Styling for the company form */

  .company-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: beige;
    }

    .company-form-container {
        max-width: 400px;
        padding: 2rem;
        background-color: rgb(57, 87, 26);
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .company-header {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
        color: beige;
    }

    .company-form {
        margin-bottom: 1rem;
    }

    .form-name,
    .form-address,
    .form-country,
    .form-type {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: beige;
    }

    .input-name,
    .input-address,
    .input-country,
    .input-type {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #cccccc;
        color: black;
        border-radius: 0.25rem;
    }

    .text-red-500 {
        color: #f44336;
    }

    .text-xs {
        font-size: 0.75rem;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .bg-orange-200 {
        background-color: #ffcc80;
    }

    .text-gray-900 {
        color: #212121;
    }

    .rounded {
        border-radius: 0.25rem;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .p-1 {
        padding: 0.25rem;
    }

    .hover:bg-orange-300:hover {
        background-color: #ffe0b2;
    }

    /* Styling for table of projects */

    .projects-table-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        color: beige;
        margin-bottom: 2rem;
    }

    .table-container {
        max-width: 800px;
        width: 100%;
        padding: 2rem;
        background-color:rgb(57, 87, 26);
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-3xl {
        font-size: 1.875rem;
    }

    .font-bold {
        font-weight: 700;
    }

    .mb-5 {
        margin-bottom: 1.25rem;
    }

    .p-2 {
        padding: 0.5rem;
    }

    .pb-5 {
        padding-bottom: 1.25rem;
    }

    .text-center {
        text-align: center;
    }

    .bg-white {
        background-color: #ffffff;
    }

    .text-gray-900 {
        color: #212121;
    }

    .rounded {
        border-radius: 0.25rem;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .p-1 {
        padding: 0.25rem;
    }

    .overflow-x-auto {
        overflow-x: auto;
    }

    .projects-table {
        width: 100%;
        border-collapse: collapse;
    }

    .header-table-name,
    .header-table-company,
    .header-table-description,
    .header-table-type,
    .header-table-address,
    .header-table-country {
        padding: 0.75rem 1.5rem;
        text-align: left;
        font-weight: bold;
        color: beige;
        border-bottom: 2px solid #cccccc;
    }

    .table-project-name,
    .table-project-company,
    .table-project-description {
        padding: 0.75rem 1.5rem;
        border-bottom: 1px solid #cccccc;
        color: beige;
    }

    .table-project-name a,
    .table-project-company a {
        color: beige;
        text-decoration: none;
    }

    .table-project-description p {
        margin: 0;
    }

    /* Styling for Companies table */
    .companies-table-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        color: beige;
        margin-bottom: 2rem;
    }  
    
    .table-companies-name,
    .table-companies-type,
    .table-companies-address,
    .table-companies-country
    {
        padding: 0.75rem 1.5rem;
        border-bottom: 1px solid #cccccc;
        color: beige;
    }

    .table-companies-name a,
    .table-companies-type a,
    .table-companies-address a,
    .table-companies-country a {
        color: beige;
        text-decoration: none;
    }

    .table-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Backbutton {
    background-color:  #f5f5dc;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
}

.Backbutton:hover {
    background-color:rgb(239, 144, 19);
}

.button-container {
    margin-top: 20px;
    text-align: center;
}
    